@using System.Web.UI.WebControls
@model MeetingPlanner.Models.MeetingModel
@{
    ViewBag.Title = @Model.Description;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model != null && Model.MeetingId > 0)
{
    @Html.HiddenFor(m => m.MeetingId);
    <div class="container">
        <div style="text-align: center">
            @if (Model.IsOwner)
            {
                <h4>Отправьте другим участникам номер встречи, чтобы они могли присоединиться к планированию - @Model.MeetingId</h4>
            }
            else
            {
                <h4>Кто-то из ваших друзей запланировал встречу "@Model.Description" </h4>
            }
        
            <h4>Пожалуйста выберите удобные и неудобные для вас дни, после чего нажмите кнопку отправить</h4>
        </div>
        <div class="btn-group" id="radioButtons" style="padding-top: 30px" data-toggle="buttons">
            <label class="btn btn-default">
                <input type="radio" id="nonavaliable" name="days" value="0">Неудобно
            </label>
            <label class="btn btn-default active">
                <input type="radio" id="avaliable" name="days" value="1" checked="">Удобно
            </label>
        </div>
        <div  style="float: right">
            @if (Model.IsOwner)
            {
                <button class="btn btn-primary" onclick="selector.sendForCount()">Расчитать</button>
            }
            <button id="sendButton" class="btn btn-default" onclick="selector.sendClicked()">Отправить</button>
        </div>
    </div>
    <div id="calendar" style="padding-top: 30px"></div>
    <div id ="resultLink" style="text-align: center; display: none">
        <button class="btn btn-default" onclick="selector.gotoResult()">Перейти к результатам</button>
    </div>

    <script src="@Url.Content("~/Scripts/fullcalendar/fullcalendar.js")"></script>
    <script src="@Url.Content("~/Scripts/fullcalendar/fullcalendar.min.js")"></script>
    <script src="@Url.Content("~/Scripts/calendar-selector.js")"></script>
    <script src="@Url.Content("~/Scripts/fullcalendar/gcal.js")"></script>
    <link href=@Url.Content("~/Scripts/fullcalendar/fullcalendar.css") rel="stylesheet"/>
    <link href=@Url.Content("~/Scripts/fullcalendar/fullcalendar.print.css") rel="stylesheet"/>
}
else
{
    <h3>Простите, но такой встречи никто не планирует</h3>
}
