@using System.Web.UI.WebControls
@using MeetingPlanner.Resources.Views.Meeting
@model MeetingPlanner.Models.MeetingModel
@{
    ViewBag.Title = @Model.Description;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model != null && Model.MeetingId > 0)
{
    @Html.HiddenFor(m => m.MeetingId);
    <div class="container">
        <div style="text-align: center">
            @if (Model.IsOwner)
            {
                <h4>@Edit.SendNumerToFriends - @Model.MeetingId</h4>
            }
            else
            {
                <h4>@Edit.SomeBodeCreatesMeeting "@Model.Description" </h4>
            }
        
            <h4>@Edit.PleaseSelectDays</h4>
        </div>
        <div class="container" style="padding-top: 30px">
            <div class="btn-group float-left" id="radioButtons" data-toggle="buttons">
                <label class="btn btn-default">
                    <input type="radio" id="nonavaliable" name="days" value="0">@Edit.Inconvenient
                </label>
                <label class="btn btn-default active">
                    <input type="radio" id="avaliable" name="days" value="1" checked="">@Edit.Convenient
                </label>
            </div>
            <div  class="float-right">
                <label id="lblEnterName">@Edit.YourName</label>
                @Html.TextBoxFor(m => m.UserName, new{id="UserName", @class = "input-sm"})
                <button id="sendButton" class="btn btn-default" onclick="selector.sendClicked()">@Edit.SendButton</button>
            </div>
        </div>
    </div>
    <div id="calendar" style="padding-top: 10px"></div>
    <div id ="resultLink" style="text-align: center; display: none">
        <button class="btn btn-default" onclick="selector.gotoResult()">@Edit.GoToResult</button>
    </div>
    
    <script>
        $(document).ready(function () {
            selector = new calendarSelector();
            var cells = [];
            $('#calendar').fullCalendar({
                editable: true,
                //header: {
                //    left: 'prev,next today',
                //    center: 'title',
                //    //right: 'month,agendaWeek,agendaDay'
                //},
                selectable: true,
                height: 320,
                width: 480,
                dayClick: selector.dayClicked,
                @if (Model.MarkedDays != null && Model.MarkedDays.Count > 0)
                {
                <text>
                dayRender: function (date, cell) {
                    var strDate = date.toDateString();
                    @foreach (var value in Model.MarkedDays)
                    {
                        <text>
                    if (strDate == new Date( @value.Key.Year, @value.Key.Month - 1, @value.Key.Day).toDateString())
                    {
                        cells[strDate] = {
                            cell: cell, 
                            isAvaliable: @value.Value.ToString().ToLower(),
                            date: date
                            };
                    }
                        </text>
                    }        
                }, 
                </text>
                }
                monthNames: fullCalendarLocalizedDefaults.monthNames,
                monthNamesShort: fullCalendarLocalizedDefaults.monthNamesShort,
                dayNames: fullCalendarLocalizedDefaults.dayNames,
                dayNamesShort: fullCalendarLocalizedDefaults.dayNamesShort,
                buttonText: fullCalendarLocalizedDefaults.buttonText
            });
            for(var date in cells) {
                var obj = cells[date];
                selector.markDate(obj.date, obj.isAvaliable, obj.cell);
            }
        });
    </script>

    
                var fileName = "~/Scripts/fullcalendar-localization/fullcalendar-titles." + Culture.Substring(0, 2) + ".js";
    <script src="@Url.Content(fileName)"></script>
    <link href=@Url.Content("~/Content/fullcalendar/fullcalendar.css") rel="stylesheet"/>
    <script src="@Url.Content("~/Scripts/fullcalendar/fullcalendar.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fullcalendar/fullcalendar.min.js")"></script>
    <script src="@Url.Content("~/Scripts/calendar-selector.js")"></script>
    <script src="@Url.Content("~/Scripts/fullcalendar/gcal.js")"></script>
    <link href=@Url.Content("~/Content/fullcalendar/fullcalendar.print.css") rel="stylesheet"/>
}
else
{
    <h3>@Edit.SorryNoMeeting</h3>
}
