@using System.Web.UI.WebControls
@using MeetingPlanner.Resources.Views.Meeting
@model MeetingPlanner.Models.MeetingModel
@{
    ViewBag.Title = @Model.Description;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form name="ignore_me">
    <input type="hidden" id="page_is_dirty" name="page_is_dirty" value="0" />
</form>
<script>
    var dirty_bit = document.getElementById('page_is_dirty');
    if (dirty_bit.value == '1') window.location.reload();
</script>
@if (Model != null && Model.MeetingId > 0)
{
    <div class="container">
        <div style="text-align: center">
            @if (Model.IsOwner)
            {
                <h4>@Edit.SendNumerToFriends - @Model.MeetingId</h4>
            }
            else
            {
                <h4>@Edit.SomeBodeCreatesMeeting "@Model.Description" </h4>
            }
        
            <h4>@Edit.PleaseSelectDays</h4>
        </div>
        <div class="container" style="padding-top: 30px">
            <div class="btn-group float-left" id="radioButtons" data-toggle="buttons">
                <label class="btn btn-default">
                    <input type="radio" id="nonavaliable" name="days" value="0">@Edit.Inconvenient
                </label>
                <label class="btn btn-default active">
                    <input type="radio" id="avaliable" name="days" value="1" checked="">@Edit.Convenient
                </label>
            </div>
            <div  class="float-right">
                <label id="lblEnterName">@Edit.YourName</label>
                @Html.TextBoxFor(m => m.UserName, new{id="UserName", @class = "input-sm"})
                <button id="sendButton" class="btn btn-default" onclick="selector.sendClicked()">@Edit.SendButton</button>
            </div>
        </div>
    </div>
    <div id="calendar" style="padding-top: 10px"></div>
    <div id ="resultLink" style="text-align: center; display: none">
        <button class="btn btn-default" onclick="selector.gotoResult()">@Edit.GoToResult</button>
    </div>
    <script>
        $(document).ready(function () {
            dirty_bit.value = '1';
            
            selector = new calendarSelector();
            selector.meetingId = @Model.MeetingId;
            @if (Model.MarkedDays != null && Model.MarkedDays.Count > 0)
            {
                foreach (var value in Model.MarkedDays)
                {
                    if (value.Value)
                    {
                        @:selector.addGreenDay(new Date(@value.Key.Year, @value.Key.Month - 1, @value.Key.Day));
                    }
                    else
                    {
                         @:selector.addRedDay(new Date(@value.Key.Year, @value.Key.Month - 1, @value.Key.Day));
                    }

                }
            }
            @if (Model.From.HasValue)
            {
                @:selector.dateFrom = new Date(@Model.From.Value.Year, @Model.From.Value.Month - 1, @Model.From.Value.Day);
            }
            @if (Model.To.HasValue)
            {
                @:selector.dateTo = new Date(@Model.To.Value.Year, @Model.To.Value.Month - 1, @Model.To.Value.Day);
            }
            var calendar = $('#calendar').fullCalendar({
                editable: true,
                //header: {
                //    left: 'prev,next today',
                //    center: 'title',
                //    //right: 'month,agendaWeek,agendaDay'
                //},
                selectable: true,
                height: 320,
                width: 480,
                dayClick: selector.dayClicked,
                dayRender:  selector.dayRender,
                monthNames: fullCalendarLocalizedDefaults.monthNames,
                monthNamesShort: fullCalendarLocalizedDefaults.monthNamesShort,
                dayNames: fullCalendarLocalizedDefaults.dayNames,
                dayNamesShort: fullCalendarLocalizedDefaults.dayNamesShort,
                buttonText: fullCalendarLocalizedDefaults.buttonText
            });

            $('#calendar').on('click','.fc-button-next', calendar, selector.monthChanged);
            $('#calendar').on('click','.fc-button-prev', calendar, selector.monthChanged);

        });
        
        function getCookie(name) {
            var cookie = " " + document.cookie;
            var search = " " + name + "=";
            var setStr = null;
            var offset = 0;
            var end = 0;
            if (cookie.length > 0) {
                offset = cookie.indexOf(search);
                if (offset != -1) {
                    offset += search.length;
                    end = cookie.indexOf(";", offset)
                    if (end == -1) {
                        end = cookie.length;
                    }
                    setStr = unescape(cookie.substring(offset, end));
                }
            }
            return(setStr);
        }

    </script>

    
                var fileName = "~/Scripts/fullcalendar-localization/fullcalendar-titles." + Culture.Substring(0, 2) + ".js";
    <script src="@Url.Content(fileName)"></script>
    <link href=@Url.Content("~/Content/fullcalendar/fullcalendar.css") rel="stylesheet"/>
    <script src="@Url.Content("~/Scripts/fullcalendar/fullcalendar.min.js")"></script>
    <script src="@Url.Content("~/Scripts/fullcalendar/fullcalendar.min.js")"></script>
    <script src="@Url.Content("~/Scripts/calendar-selector.js")"></script>
    <script src="@Url.Content("~/Scripts/fullcalendar/gcal.js")"></script>
    <link href=@Url.Content("~/Content/fullcalendar/fullcalendar.print.css") rel="stylesheet"/>
}
else
{
    <h3>@Edit.SorryNoMeeting</h3>
}
